<br>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="{{#if active_home}}active{{/if}}"><a href="/">Home</a></li>
      <li class={{#if active_showings}}"active"{{/if}}><a href="/showings">Showings</a></li>
      <li class={{#if active_order}}"active"{{/if}}><a href="/order">Orders</a></li>
      <li class={{#if active_customer}}"active"{{/if}}><a href="/customer">Customers</a></li>
      <li class={{#if active_rooms}}"active"{{/if}}><a href="/rooms">Rooms</a></li>
      <li class={{#if active_seats}}"active"{{/if}}><a href="/seats">Seats</a></li>
    </ul>
  </div>
</nav>
