<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
    </script>
<script>
        document.onclick = function (e) {   //when the document body is clicked
            if (window.event) {
                e = event.srcElement;           //assign the element clicked to e (IE 6-8)
            }
            else {
                e = e.target;                   //assign the element clicked to e
            }

            if (e.className && e.parentNode.className == "delete") {
                //if the element has a class name, and that is 'someclass' then...
                e.parentNode.parentNode.parentNode.remove();
            } 
        }
</script>
    <style>
        .modal-body {
            display: block;
            overflow: auto;
        }
    </style>
</head>

<body>
    {{{body}}}
</body>

</html>