<h1>Current Customers</h1>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script>
        document.onclick = function (i) {
            if (window.event) {
                i = event.srcElement;
            } else {
                i = i.target;
            }
            if (i.className && i.parentNode.className == "delete") {
                i.parentNode.parentNode.parentNode.remove();
            }
            if (i.className && i.parentNode.className == "edit") {
                if (i.innerHTML == '') {
                    i.innerHTML = '';
                    makeEdit(i);
                } else {
                    console.log(i.innerHTML);
                    i.innerHTML = '';
                    saveEdits(i);
                }
            }
        }

        function makeEdit(targ) {
            const editElem = targ.parentElement.parentElement.parentElement.getElementsByClassName("status")[0];
            console.log(editElem);
            editElem.setAttribute("contenteditable", "true");
            editElem.style.backgroundColor = "lightblue";
            editElem.focus();
        }

        function saveEdits(targ) {
            console.log(targ);
            const editElem = targ.parentElement.parentElement.parentElement.getElementsByClassName("status")[0];
            console.log(editElem);
            const userVersion = editElem.innerHTML;
            localStorage.setItem(editElem.id, userVersion);
            editElem.toggleAttribute("contenteditable");
            editElem.style.backgroundColor = "white";
        }

        function loadEdits() {

            const statuses = document.getElementsByClassName("status");
            for (item of statuses) {
                if (localStorage.getItem(item.id))
                    item.innerHTML = localStorage.getItem(item.id);
            }
            if (localStorage.userEdits != null)
                document.getElementById("edit").innerHTML = localStorage.userEdits;
        }
    </script>
</head>
<body>

{{> navbar}}
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h2>Customer <b>Details</b></h2></div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#customerModal"><i
                            class="fa fa-plus"></i> Add New
                    </button>
                </div>
            </div>
            {{> searchBar}}
        </div>
        <table id='myTable' class="table table-bordered">
            <thead>
            <tr>
                <th>Last Name</th>
                <th>Address</th>
                {{!-- <th>Address 2</th> --}}
                <th>Email</th>
                <th>Action</th>

            </tr>
            </thead>
            <tbody>
            {{#each customers}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{address}}</td>
                    <td>{{email}}</td>
                    <td>
                        <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                        <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                        <a class="delete" title="Delete" data-toggle="tooltip"><i
                                class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="customerModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="customerModalLabel"><strong>New Customer</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <form action='/customer' method="POST" role="form">
                <div class="modal-body">

                    <div class="form-row">
                        <div class="form-group col-lg-1">
                            <label for="customerName">Last Name:</label>
                            <input type="text" name="customerName" class="form-control" id="customerName">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="orderRow">Email:</label>
                            <input type="text" name="customerEmail" id="customerEmail" class="form-control">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="orderCol">Address:</label>
                            <input type="text" name="customerAddr" id="customerAddr" class="form-control">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
