<h1>MovieGoers</h1>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
{{> navbar}}
{{!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/showings">Showings</a></li>
      <li><a href="/order">Orders</a></li>
      <li><a href="/customer">Customer</a></li>
    </ul>
  </div>
</nav> --}}

<h2> Overview </h2>
<p>Our website will be handling ticket sales for a movie theater called MaxTheater in Portland, Oregon. This theater
    will have 8 theater rooms that will seats 50 to 225 seats. The theater will be able to show premium movies as well
    as old-time classics for movie lovers. It will also give options for large group members to reserve rooms for large
    parties for private viewing or want to watch sporting events on the large screen. The MaxTheater makes $25 million
    annually. Our database driven website will be recording ticket sales using Orders of showing and seats to Customers.
</p><br>
<p><strong>Note: All pages in this draft do not necessarily represent pages in the finished functioning product. These
    pages are meant to demonstrate the database entities.</strong></p>
<h2>Showings</h2>
<p>A record of all scheduled films. Contains the title, time, and cost, and room number.</p><br>
<h2>Orders</h2>
<p>Contains details of placed orders, including customer name, seat number, and room; all of these are references.</p>
<br>
<h2>Customers</h2>
<p>Contains the contact details and identifying information for customers. Will not be public access.</p><br>
<h2>Seats</h2>
<p>Details seat locations within the building.</p>