<h1>Home Page</h1>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/showings">Showings</a></li>
      <li><a href="/order">Orders</a></li>
    </ul>
  </div>
</nav>

<h2> Overview </h2>
<p>Our website will be handling ticket sales for a movie theater called MaxTheater in Portland, Oregon. This theater will have 8 theater rooms that will seats 50 to 225 seats. The theater will be able to show premium movies as well as old-time classics for movie lovers. It will also give options for large group members to reserve rooms for large parties for private viewing or want to watch sporting events on the large screen. The MaxTheater makes $25 million annually. Our database driven website will be recording ticket sales using Orders of showing and seats to Customers. 
</p><br>
<h2> Entity: Customers</h2>
<p>records the details of Customers we do business with</p><br>
<h2> Entity: Orders</h2>
<p>create the order for the Customers. Acts as a medium between Customers </p><br>
<h2> Entity: Rooms</h2>
<p>Each “Rooms” entry is a particular theatre room with a finite set of seats to be sold.</p>
<h2> Entity: Showings</h2>
<p>handles the showing details for the Customers to lookup the desire shows</p><br>
<h2> Entity: Seats</h2>
<p>handles the seating details for the Customers </p>