<h1>Current Orders</h1>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  {{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> --}}
  {{!-- <script src="searchBar.js"></script> --}}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>
{{> navbar}}

{{!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/showings">Showings</a></li>
      <li class="active"><a href="/order">Orders</a></li>
    </ul>
  </div>
</nav> --}}
<div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Order <b>Details</b></h2></div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                    </div>
                    {{> searchBar}}
                </div>
            </div>
            <table id='myTable' class="table table-bordered">
                <thead>
                    <tr>
                        <th>Party</th>
                        <th>Showing</th>
                        <th>Room</th>
                        <th>Seat(s)</th>
                        <th>Order Status</th>
                        <th>Actions</th>
                       
                    </tr>
                </tdead>
                <tbody>
                    <tr>
                        <td>Marquette</td>
                        <td>Tenet</td>
                        <td>1 Room</td>
                        <td>17K, 18K</td>
                        <td>Complete</td>
                        <td>
							<a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                            <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>McKenzie</td>
                        <td>Mortal Kombat</td>
                        <td>2 Room</td>
                        <td>15B</td>
                            <td>Complete</td>
                        <td>
							<a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                            <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Turner</td>
                        <td>Godzilla vs Kong</td>
                        <td>3 Room</td>
                        <td>24A</td>
                        <td>Fail</td>
                        <td>
							<a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                            <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>      
                </tbody>
            </table>
        </div>
    </div>     
</body>