<h1>Orders/Showings Intersection Table</h1>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<style>
      .container{
        width: 450px;
    }
</style>
{{> navbar}}
{{!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/showings">Showings</a></li>
      <li><a href="/order">Orders</a></li>
    </ul>
  </div>
</nav> --}}
<div class="container">
  <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>OrderShowings</h2></div>
                </div>
            </div>
    <table class="table table-bordered">
      <tr>
        <th>Order ID</th>
        <th>Showing ID</th>
      </tr>
      <tbody>
        {{#each os}}
        <tr>
          <td>{{showing}}</td>
          <td>{{os}}</td>
        </tr>
      {{!-- <tr>
          <td>1</td>
          <td>2</td>
      </tr>
        <tr>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>3</td>
          <td>1</td>
        </tr> --}}
        {{/each}}
      </tbody>
    </table>
    
  </div>
</div>