<h1>Reserved Seats</h1>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>
{{> navbar}}
<style>
    .container{
        width: 450px;
    }
</style>
<div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Seat <b>Details</b></h2></div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Row</th>
                        <th>Column</th>
                        <th>Room #</th>
                        <th>Order #</th>
                      
                    </tr>
                </tdead>
                <tbody>
                    <tr>
                        <td>17</td>
                        <td>K</td>
                        <td>1</td>
                        <td>1</td>

                    </tr>
                    <tr>
                        <td>18</td>
                        <td>K</td>
                        <td>1</td>
                        <td>1</td>

                    </tr>
                    <tr>
                        <td>15</td>
                        <td>B</td>
                        <td>2</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>24</td>
                        <td>A</td>
                        <td>3</td>
                        <td>3</td>
                    </tr>      
                </tbody>
            </table>
        </div>
    </div>     
</body>
