<h1>Movies This Week</h1>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

{{> navbar}}
{{!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/showings">Showings</a></li>
      <li><a href="/order">Orders</a></li>
    </ul>
  </div>
</nav> --}}
<div class="container">
  <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Showing <b>Details</b></h2></div>
                </div>
            </div>
    <table class="table table-bordered">
      <tr>
          <th>Title</th>
          <th>Time</th>
          <th>Cost</th>
          <th>Room</th>
      </tr>
      <tr>
        <td>Mortal Kombat</td>
        <td>4:30 PM</td>
        <td>$15</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Godzilla vs Kong</td>
        <td>6:00 PM</td>
        <td>$15</td>
        <td>1</td>
      </tr>

      <tr>
        <td>Tenet</td>
        <td>10:00 AM</td>
        <td>$10</td>
        <td>3</td>
        </tr>
    </table>
  </div>
</div>