<h1>Movies This Week</h1>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>

  {{> navbar}}
  {{!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/showings">Showings</a></li>
        <li><a href="/order">Orders</a></li>
      </ul>
    </div>
  </nav> --}}
  <div class="container">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-8">
            <h2>Showing <b>Details</b></h2>
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#orderModal"><i
                class="fa fa-plus"></i> Add New</button>
          </div>
        </div>

            {{> searchBar}}
    <table id='myTable' class="table table-bordered">
      <tr>
          <th>Title</th>
          <th>Time</th>
          <th>Cost</th>
          <th>Room</th>
        </tr>
        <tr>
          <td>Mortal Kombat</td>
          <td>4:30 PM</td>
          <td>$15</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Godzilla vs Kong</td>
          <td>6:00 PM</td>
          <td>$15</td>
          <td>1</td>
        </tr>

        <tr>
          <td>Tenet</td>
          <td>10:00 AM</td>
          <td>$10</td>
          <td>3</td>
        </tr>
      </table>
    </div>
  </div>
  
  <!--Modal-->
  <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="orderModalLabel"><strong>Add Showing</strong></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-body">
          <form>
            <div class="form-row">
              {{!-- Time input --}}
              <div class="mb-3">
                <label id="time_label" for="time">Time</label>
                <input id="time" name="time" type="text" class="form-control" />
              </div>
              {{!-- Room Select --}}
              <div class="select">
                <label id="room_label" for="room">Room#</label>
                <div class="input-group mb-3">
                  <select id="room" name="room" class="form-control form-select" aria-label="Room#">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                </div>
              </div>
              {{!-- Cost --}}
              <div class="amount">
                  <label id="amount_label" for="amount">Cost</label>
                  <div class="input-group mb-3">
                      <input id="amount" name="amount" type="number" class="form-control" value="0.00" aria-label="Total Amount" />
                  </div>
              </div>
              {{!-- Title --}}
              <div class="mb-3">
                <label for="title">Title</label>
                <div class="input-group mb-3">
                  <input type="text" name="title" id="title" class="form-control">
                </div>
              <br>

              </div>
            </div>
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>