<h1>Movies This Week</h1><br>
<table>
    <tr>
        <th>Title</th>
        <th>Time</th>
        <th>Cost</th>
    </tr>
    <tr>
        <td>Mortal Kombat</td>
        <td>Godzilla vs Kong</td>
        <td>Tenet</td>
    </tr>
</table>